@import url('https://fonts.googleapis.com/css?family=Ubuntu|Didact+Gothic');
body, html {
    margin: 0;
    color: #222222;
}

p {
    font-size: 20px;
}

footer * {
    color: #fff;
}

/*Background image*/
.bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-one {
    background: url('../img/45df099d-080a-4b62-a919-ab94121da8fa.JPG') no-repeat center;
    background-size: cover;
}

.bg-two {
    background: url('../img/img_bg_1.jpg') no-repeat center;
    background-size: cover;
}

.bg .caption {
    text-align: center;
}

.border {
    background-color: #ff851b;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.border-transparent {
    background-color: transparent
}

/* Margins util */
.margin-top-lg {
    margin-top: 80px;
}

.margin-top-md {
    margin-top: 40px;
}

.margin-top-sm {
    margin-top: 20px;
}

.margin-bottom-lg {
    margin-bottom: 80px;
}

.margin-bottom-md {
    margin-bottom: 40px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

/* Padding util*/

.padding-top-sm {
    padding-top: 20px;
}

.padding-top-md {
    padding-top: 40px;
}

.padding-top-lg {
    padding-top: 80px;
}

.padding-bottom-sm {
    padding-bottom: 20px;
}

.padding-bottom-md {
    padding-bottom: 40px;
}

.padding-bottom-lg {
    padding-bottom: 80px;
}

/* Thumbnail */

.thumbnail {
    border: none;
    padding: 0;
}

.thumbnail > img {
    width: 100%;
    margin: auto 0;
}

/**/

.sc-text-header {
    font-size: 26px;
    font-weight: bold;
}

.sc-text {
    font-size: 20px;
}

.sc-bg-orange {
    background-color: #ff851b;
}

/* button */
.btn-extra-lg {
    padding: 28px 32px 26px;
    line-height: 30px;
    font-size: 24px;
}

/*navbar*/
.navbar-top {
    font-family: 'Didact Gothic', sans-serif;
    min-height: 80px;
}

.navbar-top .navbar-header button {
    margin-top: 20px;
}

.navbar-top .navbar-brand {
    margin-top: 15px;
    font-size: 26px;
}

.navbar-top .navbar-right {
    margin-top: 15px;
    font-size: 24px;
}

.navbar-top .navbar-right > ul > li > a {
    color: #eee;
}

.navbar-bottom {
    background-color: #be3030;
}


.container .jumbotron{
    border-radius: 0px;
}

.hero {
    padding: 160px 0;
    background-color: #eeeeee;
}

.hero .container:after {
    height: 5px;
    width: 25%;
    background-color: #ff851b;
}

.hero hr {
    background-color: #ff851b;
    height: 5px;
}

section {
    padding-top: 80px;
}