@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Poppins:200,300');
body, html {
    margin: 0;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 21px;
    font-weight: 200;
}

p {
    font-size: 20px;
    font-weight: 200;
}

footer * {
    color: #fff;
}

/*Background image*/
.bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-one {
    background: url('../img/45df099d-080a-4b62-a919-ab94121da8fa.JPG') no-repeat center;
    background-size: cover;
}

.bg-two {
    background: url('../img/7537447696_IMG_5678.JPG') no-repeat center;
    background-size: cover;
}

.bg-three {
    background: url('../img/7589969136_IMG_5711.JPG') no-repeat center ;
    background-size: cover;
}

.bg .caption {
    text-align: center;
    /*background-color: #22222287;*/
    padding: 20px;
    /*border: 2px solid #ff851b;*/
}

.bg .caption p {
    font-size: 33px;
    line-height: 1.25em;
}

.border {
    background-color: #ff851b;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.border-transparent {
    background-color: transparent
}

/* Margins util */
.margin-top-lg {
    margin-top: 80px;
}

.margin-top-md {
    margin-top: 40px;
}

.margin-top-sm {
    margin-top: 20px;
}

.margin-bottom-lg {
    margin-bottom: 80px;
}

.margin-bottom-md {
    margin-bottom: 40px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

/* Padding util*/

.padding-top-sm {
    padding-top: 20px;
}

.padding-top-md {
    padding-top: 40px;
}

.padding-top-lg {
    padding-top: 80px;
}

.padding-bottom-sm {
    padding-bottom: 20px;
}

.padding-bottom-md {
    padding-bottom: 40px;
}

.padding-bottom-lg {
    padding-bottom: 80px;
}

/* Thumbnail */

.thumbnail {
    border: none;
    padding: 0;
}

/**/

.sc-text-header {
    font-size: 26px;
    font-weight: bold;
}

.sc-text {
    font-size: 20px;
}

.sc-bg-orange {
    background-color: #ff851b;
}

/* button */
.btn-extra-lg {
    padding: 28px 32px 26px;
    line-height: 30px;
    font-size: 24px;
}

/*navbar*/
.navbar-top {
    font-family: 'Didact Gothic', sans-serif;
    min-height: 80px;
}

.navbar-top .navbar-header button {
    margin-top: 20px;
}

.navbar-top .navbar-brand {
    margin-top: 15px;
    font-size: 26px;
}

.navbar-top .navbar-right {
    margin-top: 15px;
    font-size: 24px;
}

.navbar-top .navbar-right > ul > li > a {
    color: #eee;
}

.navbar-bottom {
    background-color: #be3030;
}


.container .jumbotron{
    border-radius: 0px;
}

.hero {
    padding: 80px 0;
}

section .container:after {
    height: 1px;
    width: 100%;
    background-color: #ff851b;
}


.section-header > h1 {
    color: #ff851b;
}

footer .nav a:hover {
    background-color: #eeeeee;
}

footer .nav a:hover i {
    color: #ff7100;
}

.footer-line:before {
    height: 1px;
    width: 100%;
    background-color: #eee;
}